@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
body{
    /* height: 100vh; */
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239)); */
    background-image: url('./bg-main.gif');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.logo{      
    width: 50px;
    height: 50px;
}
h1{
    margin-top: 12px;
    font-size: 40px;
    font-family: 'Abyssinica SIL', serif;
    text-align: center;
}
.container{
    max-width: 885px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    background-image: url(./bg.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.message{
    background-color: #82fcee;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.left{
    float: left;
    clear:both;
}

.right{
    float: right;
    clear:both;
}

#send-container{
    display:block;
    margin: 30px auto;
    text-align: center;
    max-width: 845px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn{
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
